:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #18191a; /* Deeper dark for body */
  color: #e4e6eb; /* Light text color */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  flex: 1;
  padding-top: 60px; /* Space for fixed header */
}

.content {
  flex: 1;
  padding: 16px;
  margin-left: 250px; /* Space for fixed sidebar */
  background-color: #18191a; /* Match body background */
  color: #e4e6eb;
  box-sizing: border-box;
  margin-top: 44px;
}
.close-button {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
    padding-top: 0; /* Header will be relative on mobile */
  }

  .content {
    margin-left: 0; /* Sidebar will be relative on mobile */
    padding: 16px;
    margin-top: 0;
  }
}
